* {
    margin: 0;
    padding: 0;
}

.content {
    width: 800px;
    margin: 10px auto; 
    padding: 30px 30px;
    border-radius: 5px;
    background-image: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
};

.text {
    margin-top: 500px;
}

.part1 {
    text-align: center;
    margin-bottom: 40px;
}

.part1 p {
    font-size: 30px;
    font-weight: bold;
}
.part1 h1 {
    font-size: 92px;
    letter-spacing: 2.4px;
    color: white;
    text-shadow:0 2px black,
    0 5px black,
    0 8px black,
    0 10px black,
    0 12px 12px black;
}

.part2 {
    text-align: center;
    margin-bottom: 40px;
}

.part2 p {
    font-size: 30px;
    font-weight: bold;
}

.part2-content {
    width: 550px;
    height: 180px;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 5px;
    line-height: 40px;
    color: rgb(0, 128, 1);
    font-size: 25px;
    background-color: white;
}

.part3 {
    text-align: center;
    margin-bottom: 40px;
}

.part3 p {
    font-size: 30px;
    font-weight: bold;
}
.flexbox {
    width: 220px;
    height: 150px;
    border: 8px solid white;
}
.flex-layout {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.flexbox1 {
    background-image: url(../static/image/empire-state.png);
}
.flexbox2 {
    background-image: url(../static/image/midtown.png);
}
.flexbox3 {
    background-image: url(../static/image/liberty.png);
}

/*f  fasd */

.part4 {
    margin-bottom: 40px;
}

.part4-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.part4-content {
    position: relative;
    width: 550px;
    height: 150px;
    margin: 0px auto;
    margin-top: 70px;
    padding: 15px 15px;
    border-radius: 5px;
    font-family: serif;
    font-size: 15px;
    column-count: 3;
    column-gap: 15px;
    word-break: break-all;
    background-color: white;
}
.part4-content::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 230px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: #fff;
  }
  