@font-face {
    font-family: "Merriweather";
    src: url("https://fonts.font.im/css?family=Merriweather");
}
* {
    margin: 0;
    padding: 0;
}

.content {
    width: 800px;
    margin: 10px auto; 
    padding: 30px 30px;
    border-radius: 5px;
    background-image: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
};

.text {
    margin-top: 500px;
}

.part1 {
    text-align: center;
    margin-bottom: 40px;
}

.part1 p {
    font-size: 30px;
    font-weight: bold;
}
.part1 h1 {
    font-size: 92px;
    letter-spacing: 2.4px;
    color: white;
    text-shadow:0 2px black,
    0 5px black,
    0 8px black,
    0 10px black,
    0 12px 12px black;
}

.part2 {
    text-align: center;
    margin-bottom: 40px;
}

.part2 p {
    font-size: 30px;
    font-weight: bold;
}

.part2-content {
    width: 550px;
    height: 180px;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 5px;
    line-height: 40px;
    color: rgb(0, 128, 1);
    font-size: 25px;
    background-color: white;
}

.part3 {
    text-align: center;
    margin-bottom: 40px;
}

.part3-title {
    font-size: 30px;
    font-weight: bold;
}
.flexbox {
    width: 220px;
    height: 150px;
    border: 8px solid white;
}

.flex-layout {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;    
}
.flexbox1 {
    font-family: Merriweather ,serif;
    background-image: url(../static/image/empire-state.png);
}
.flexbox2 {
    font-family: Merriweather ,serif;
    background-image: url(../static/image/midtown.png);
}
.flexbox3 {
    font-family: Merriweather ,serif;
    background-image: url(../static/image/liberty.png);
}

.filter1 {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(58, 1, 132, 0.44);
}

.flexbox:hover .filter1 {
    display: block;
    cursor: pointer;
}

.filter-title1,
.filter-title2 {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.filter-content1,
.filter-content2 {
    margin: 0 auto;
    padding: 10px;    
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}
.filter-a1,
.filter-a2  {
    width: 100px;
    height: 30px; 
    margin:0 auto;
    line-height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: black;
}

.filter2 {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 99;
}

.filter2-bg {
    position: absolute;
    width:100%;
    height:100%;
    left: -60px;
    top: -95px;
    transform: rotate(50deg);
    background-color: rgba(7, 7, 7, 0.568);
    z-index: -1;
}

.flexbox:hover .filter2 {
    display: block;
    cursor: pointer;
}

.filter3 {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFF8E8;
}

.flexbox:hover .filter3 {
    display: block;
    cursor: pointer;
}

.filter-title3 {
    width: 160px;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}
.filter-content3 {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}
.filter-a3 {
    width: 100px;
    height: 30px; 
    margin:0 auto;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    color: white;
}


.part4 {
    margin-bottom: 40px;
}

.part4-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.part4-content {
    position: relative;
    width: 550px;
    height: 150px;
    margin: 0px auto;
    margin-top: 70px;
    padding: 15px 15px;
    border-radius: 5px;
    font-family: serif;
    font-size: 15px;
    column-count: 3;
    column-gap: 15px;
    word-break: break-all;
    background-color: white;
}
.part4-content::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 230px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: #fff;
  }
  